<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ election_name}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        /* Custom CSS to color the borders black */
        .budget-container {
            position: relative;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .budget{
            color: black
        }
        .bar {
            position: relative;
            height: 30px;
            margin: 10px 0;
            background-color: #ddd;
            position: relative;
            align-items: center;
            justify-content: center;
            color: black;
        }
        .bar-inner {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            position: absolute;
            left: 0;
            top: 0;
        }
        .dashed-line {
            position: absolute;
            top: 0;
            height: 600%;
            border-left: 2px dashed black;
        }
        .green {
            background-color: #4CAF50;
            color: white;
            justify-content: center;
        }
        .red {
            background-color: #F44336;
            color: white;
            justify-content: center;
        }
        .rejected-mark {
            position: absolute;
            right: -50px;
            top: 0;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: black;
            background-color: white;
            border-radius: 15px; 
        }
        .border-black {
            border: 1px solid black;
        }
        
        .nested {
            padding: 1rem;
        }
        
        .wrapper {
            padding: 0rem;
        }
        
        .spacer {
            padding: 1rem;
        }
        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            font-size: 24px;
            color: black;
        }
        
        .carousel-inner {
            padding: 1rem;
            padding-left: 7rem;
            padding-right: 7rem;
        }
        
        .carousel-inner-pie {
            padding-top: 0.5rem;
            height: 400px;
        }
        
        .hidden-section {
            display: none;
        }
        
        .chord-wrapper {
            height: 100%;
        }
        
        #myChordChart {
            height: 100%;
            width: 100%;
        }
        
        #myBarChart1,
        #myStackedBarChart1 {
            height: 100%;
            width: 100%;
        }
        h1,
        h3,
        p {
            text-align: center;
        }
        .spacer-2 {
            padding: 2rem;
        }
        .bar-container {
            position: relative;
            width: 100%;
        }
        .budget {
            color: black;
        }
        .text-outside-bar{
            display: inline-flex; 
            align-items: center;
        }
        .text-outside{
            margin-left: 10px; 
            display: inline-flex;
        }

    </style>
</head>
<body > 
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="./{{name}}_round_analysis.html">Round Analysis<span class="sr-only">(current)</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://pypi.org/project/pabutools/">Pabutools</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main role="main">
    
        <div class="container-fluid upper-page">
            <!-- General Explanations -->
            <div class="container">
                <div class="spacer-2"></div>
                <div class="spacer-2"></div>


                <div class="row mb-3">
                    <div class="col-12  justify-content-center">
                        <h1>
                            {{ election_name }}
                        </h1>
                        <div class="spacer-1"><hr></div>
                        <p>
                            This is the explanation for the outcome of the participatory budgeting election decided using the Greedy Utilitarian Welfare algorithm.<br>
                            Some of the key features of the election are: The election has a total budget of {{ "{:,}".format((budget | int)) }} {{ currency }} of which {{ "{:,}".format((spent | int)) }} {{ currency }} was spent. The election had a 
                            total of {{total_votes}} voters. Note that each participant can vote for multiple projects. Therefore, the total votes for all projects may be 
                            higher than {{total_votes}}<br>
                            This page shows and explains the outcome of the election. The first graph shows the satisfaction scores for the projects and allows you to filter and examine the data in greater detail.
                            The bars show the budget at each stage of the election and the projects selected or rejected in each round. Finally, the final bar chart shows an overview of the selected and rejected projects.
                        </p>
                        <p>
                            To view the list of the projects selected, click this: <button type="button" id="electionOutcome" class="btn btn-secondary">View Election Outcome</button>
                            <div style="display: none;" id="outcomeList" class="row">
                                {% for round in rounds %}
                                    <p>Project: "{{ projects[round.selected_project.id]["name"] }}" with cost: {{ "{:,}".format( (round.selected_project.cost | int) ) }} {{ currency }} and had {{round.selected_project.votes}} votes.</p>
                                {% endfor %}
                            </div>
                        </p>
                    </div>
                </div>
                <div class="spacer-1"></div>
            </div>
        </div>
        <div class="container">

            
            
            <div class="spacer-1"></div>
            <hr>
            <div class="spacer-1"></div>
            

            <!-- Round specific visualisations -->
                <section id="1">

                    
                    <div class="row featurette">
                        <div class="col-1"></div>
                        <div class="col-10" style="min-height: 600px;">
                            <div id="SortableBarChart" style="height: 100%; width: 100%;">
                                <button class = "info-button" style = "position: absolute; z-index: 2000; right: 50px;" data-tippy-content= "<b>Project Satisfaction Measures:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.">i</button>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <!-- Satisfaction Measures -->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <select id="sortingCriteria" class="form-control">
                                        <option value="name-asc">Name Ascending</option>
                                        <option value="name-desc">Name Descending</option>
                                        <option value="cost-asc">Cost Ascending</option>
                                        <option value="cost-desc">Cost Descending</option>
                                        <option value="votes-asc">Satisfaction Score Ascending</option>
                                        <option value="votes-desc">Satisfaction Score Descending</option>
                                      </select>
                                </div>
                                <div class="col-auto">
                                    <select class="form-control" id="filterBy">
                                        <option value="all">All</option>
                                        <option value="selected">Selected</option>
                                        <option value="rejected">Rejected</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>

                    </div>
                    <div class="spacer-1"></div>
                    
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="spacer-1"></div>
                            <div class="spacer-1"></div>
                            <p> 
                                The chart above shows the satisfaction measures for each project. To investigate further, you can filter the bar chart by selected or rejected projects, and sort by name, cost or satisfaction score. Use the dropdowns above to filter and sort the data.
                            </p>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <div class="spacer-1"></div>
                    <hr>
                    <div class="spacer-1"></div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8" style="justify-content: center;">
                            <div class="spacer-1"></div>

                            <h3>Round by Round Analysis</h3>
                            <hr>
                            <p>
                                    The following section of the visualisations allows you to click through 'round by round' of this section of the election. It shows at each point the remaining budget, and the projects with the highest satisfaction up to the selected project. The selected project is shown in green, and any rejected projects are shown in red. A project will be shown in red if it is the next most popular project however there is not enough budget remaining to purchase the project. This means, the next most popular project will be considered - and so on until a project is found that can be purchased with the remaining budget. Use the previous and next round buttons to move through the different rounds of the election.
                            </p>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <button id="prevButton" class="btn btn-secondary">Previous Round</button>
                                </div>
                                <div class="col-auto">
                                    <button id="nextButton" class="btn btn-secondary">Next Round</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    {% for round in rounds %}
                    <div class="container" id="{{round.id}}Bars" style="display: none;">
                        
                        <!-- Budget Breakdown -->
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="budget-container">
                                        <!-- Remaining Budget Bar -->
                                        <div class="bar-container">
                                            <h4>Round {{loop.index0 + 1}}</h4>
                                            {% if (round.remaining_budget / round.max_cost) * 90 > 30 %}
                                                <div class="bar budget" style="width: {{ (round.remaining_budget / round.max_cost) * 90 }}%;">
                                                    <div class="bar-inner">&nbsp; Remaining Budget: {{ "{:,}".format( (round.remaining_budget | int) ) }} {{ currency }}</div>
                                                </div>
                                            {% else %}
                                            <div>
                                                <div class="bar budget text-outside-bar" style="width: {{ (round.remaining_budget / round.max_cost) * 100 }}%;">
                                                </div>
                                                <div><p style="position:absolute; top: 50px;">&nbsp; Remaining Budget: {{ "{:,}".format( (round.remaining_budget | int) ) }} {{ currency }}</p></div>
                                            </div>
                                            {% endif %}
                                        </div>

                                        <!-- Project Bars -->
                                        {% for proj in round.rejected_projects %}
                                        <div class="bar-container">
                                                <div>
                                                    <div class="bar red text-outside-bar" style="width: {{ (proj.cost / round.max_cost) * 90 }}%;">
                                                    </div>
                                                    <div class="rejected-mark">✘</div>
                                                    <div><p style="position:absolute; top: 12px;">&nbsp; {{ proj.id }}: {{ projects[proj.id]["name"][:45] }} - {{ "{:,}".format( (round.selected_project.cost | int) ) }} {{ currency }}</p></div>
                                                </div>
                                        </div>
                                        {% endfor %}

                                        <!-- Selected Project Bar -->
                                        <div class="bar-container">
                                            {% if (round.selected_project.cost / round.max_cost) * 90  > 30 %}
                                            <div class="bar green" style="width: {{ (round.selected_project.cost / round.max_cost) * 90 }}%;">
                                                <div class="bar-inner"><nobr>&nbsp; {{ round.selected_project.id }}: {{ projects[round.selected_project.id]["name"][:45] }} - {{ "{:,}".format( (round.selected_project.cost | int) ) }} {{ currency }}</nobr></div>
                                            </div>
                                            {% else %}
                                            <div>
                                                <div class="bar green text-outside-bar" style="width: {{ (round.selected_project.cost / round.max_cost) * 90 }}%;">
                                                </div>
                                                <div><p style="position:absolute; top: 12px;">&nbsp; {{ round.selected_project.id }}: {{ projects[round.selected_project.id]["name"][:45] }} - {{ "{:,}".format( (round.selected_project.cost | int) ) }} {{ currency }}</p></div>

                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% if round.rejected_projects %}
                                    <!-- Check if the length is larger than 1 -->
                                    {% if round.rejected_projects|length > 1 %}
                                        <p>
                                            The chart above shows the current budget of {{ "{:,}".format( (round.remaining_budget | int) ) }} {{ currency }}. Various other projects were rejected in this round, even though they had a higher or equal satisfaction score than the selected project which had a score of {{projects[round.selected_project.id]["votes"]}}.  
                                        </p>
                                    {% else %}
                                        <p>
                                            The chart above shows the current budget of {{ "{:,}".format( (round.remaining_budget | int) ) }} {{ currency }}. {{ round.rejected_projects[0].id }}: {{ projects[round.rejected_projects[0].id]["name"] }} was rejected in this round, even though it had a higher or equal satisfaction score than the selected project which had a score of {{projects[round.selected_project.id]["votes"]}}.
                                        </p>
                                    {% endif %}


                                    {% else %}
                                        <p>
                                            The chart above shows the current budget of {{ "{:,}".format( (round.remaining_budget | int) ) }} {{ currency }}, and the selected project "{{ projects[round.selected_project.id]["name"] }}" with cost {{ "{:,}".format( (round.selected_project.cost | int) ) }} {{ currency }}. The selected project was chosen because it had the highest satisfaction score ({{projects[round.selected_project.id]["votes"]}}) and was within budget.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="spacer-1"></div>
                    <hr>
                    <div class="spacer-1"></div>

                    <!-- Green and Red Painted Chart -->
                    <div class="row featurette">
                            <div class="col-1"></div>
                            <div class="col-10" style="min-height: 600px;">
                                <div id="RGBarChart" style="height: 100%; width: 100%;">
                                    <button class = "info-button" style = "position: absolute; z-index: 2000; right: 50px;" data-tippy-content= "<b>Project Satisfaction Measures:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.<br>The green bars correspond to selected projects, the red bars correspond to rejected projects.">i</button>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <p>
                                The chart above shows a colour coded bar chart, which shows the selected projects in order. Red for selected, green for rejected. This is a quick over-view visualisation showing that it is not always the most popular project which is selected, but the most popular projects within budget.
                            </p>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </section>
            
            <div class="spacer-8"></div>
        </div>

        <div class="spacer-1"></div>
        <hr>
        <div class="spacer-1"></div>

        <!-- FOOTER -->
        <footer class="container">
            <p>© Pabutools. · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Terms</a></p>
        </footer>

    </main>
    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        document.getElementById("1Bars").style.display = "block";

        let currentRoundIndex = 1;
        const roundsIds = document.querySelectorAll('.container').length;

        function displayRound(index) {
            const currentRoundId = index + 'Bars'; 
            const currentRound = document.getElementById(currentRoundId);
            if (currentRound) currentRound.style.display = 'block';
        }
        function hideRound(index) {
            const currentRoundId = index + 'Bars'; 
            const currentRound = document.getElementById(currentRoundId);
            if (currentRound) currentRound.style.display = 'none';
        }

        displayRound(currentRoundIndex);

        document.getElementById('prevButton').addEventListener('click', function() {

            if (currentRoundIndex > 1) {
                hideRound(currentRoundIndex);
                currentRoundIndex--;
                displayRound(currentRoundIndex);
            }
        });

        document.getElementById('nextButton').addEventListener('click', function() {
            if (currentRoundIndex < roundsIds - 3) {
                hideRound(currentRoundIndex);
                currentRoundIndex++; 
                displayRound(currentRoundIndex);
            }
        });

        document.getElementById('electionOutcome').addEventListener('click', function() {
            const ul = document.getElementById('outcomeList');
            if (ul.style.display === 'none') {
                ul.style.display = 'block';
            } else {
                ul.style.display = 'none';
            }
        });
        
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            projects_selected_or_rejected = JSON.parse('{{projects_selected_or_rejected | safe}}')
            var projects = {};
            {% for project_id in project_votes.keys() %}
            projects["{{ project_id }}"] = {
                name: "{{ projects[project_id]['name'][:15]|replace('\"', '\\\"') }}",
                votes: parseInt({{ project_votes[project_id] }}),
                cost: parseFloat({{ projects[project_id]['cost'] }}),
                selected: projects_selected_or_rejected["{{ project_id }}"]
            };
            {% endfor %}

            
            function sortAndRenderChart(criteria, filterBy) {
                console.log(projects);
                var filteredProjects = Object.values(projects).filter(function(project) {
                    if (filterBy === 'all') {
                        return true; 
                    } else if (filterBy === 'selected') {
                        return project.selected === true; 
                    } else if (filterBy === 'rejected') {
                        return project.selected === false; 
                    }
                });
                    var sortOrder = criteria.split('-')[1];
                    var sortBy = criteria.split('-')[0];
                    var sortedProjects = Object.values(filteredProjects).sort(function(a, b) {
                        if (sortBy === 'name') {
                            return sortOrder === 'asc' ? a.name.localeCompare(b.name) : b.name.localeCompare(a.name);
                        } else {
                            return sortOrder === 'asc' ? a[sortBy] - b[sortBy] : b[sortBy] - a[sortBy];
                        }
                    });
                  
                    var labels = sortedProjects.map(function(p) { return p.name; });
                    var values = sortedProjects.map(function(p) { return parseInt(p.votes, 10); });
                    var data ={
                        "type": "hbar",
                        "title": {
                            "text": "Satisfaction Measure Bar Chart"
                        },
                        shapes: [
                            {
                                "type": "circle",
                                "background-color": "#5297b6",
                                "size": 20,
                                "x": 35,
                                "y": 25,
                                "tooltip": {
                                    "text": "This bar chart shows the number of votes for each project.",
                                    "background-color": "white",
                                    "font-color": "gray",
                                    "font-family": "Georgia",
                                    "background-color": "white",
                                    "border-color": "gray",
                                    "border-width": 1,
                                    "line-style": "dotted",
                                    "padding": "15%",
                                },
                                label: {
                                    text: 'i', 
                                    fontSize: 28,
                                    fontWeight: 'bold',
                                    fontColor: '#fff'
                                }
                            }
                        ],
                        "scrollX": {
                                        "bar": {
                                        "backgroundColor": '#2596be',
                                        "alpha": 0.5,
                                        },
                                        "handle": {
                                        "backgroundColor": '#2596be',
                                        },
                                    },
                        "plotarea": {
                            "margin-left":"130px",
                            "margin-right":"130px"
                        },
                        "scale-x": {
                            "labels": labels,
                            "title": {
                            "text": "Project"
                            },
                            "item": { 
                            "font-size": 14, 
                            "offset-x": 0, 
                            "offset-y": 0 
                            },"zooming": true,
                                "zoomTo": [0, 15]
                        },
                        "scale-y": {
                            "title": {
                            "text": "Number of Votes"
                            }
                        },
                        "series": [{
                            "values": values ,
                            'hover-state': {
                            'background-color': "orange",
                        }
                        }, ],
                        "plot": {
                            "tooltip": {
                            "text": "Project %scale-key-label has %v votes"
                        },
                            "animation": {
                            "effect": "ANIMATION_SLIDE_BOTTOM",
                            "sequence": "ANIMATION_BY_PLOT_AND_NODE",
                            "speed": 0
                            }
                        }
                    }
                    zingchart.render({
                        id: 'SortableBarChart',
                        data: data,
                        height: '100%',
                        width: '100%'
                },
                );
            }

            sortAndRenderChart('votes-desc', 'all');

            document.getElementById('sortingCriteria').addEventListener('change', function() {
                filter = document.getElementById('filterBy').value;
                sortAndRenderChart(this.value, filter);
            });

            document.getElementById('filterBy').addEventListener('change', function() {
                sort = document.getElementById('sortingCriteria').value;
                sortAndRenderChart(sort, this.value);
            });
        });
</script>
<script>
    projects_selected_or_rejected = JSON.parse('{{projects_selected_or_rejected | safe}}')
    var projectNames = {{ project_votes.keys() | list }};
    var projectValues = {{ project_votes.values() | list }};
    var seriesData = [];
    var pNames = projectNames;
    colorsList = [] 

    for (var i = 0; i < projectNames.length; i++) {
        var projectName = projectNames[i];
        var projectValue = projectValues[i];
        var selectedOrRejected = projects_selected_or_rejected[projectName];
        var color = selectedOrRejected ? 'green' : 'red';
        colorsList.push(color);

    }


    var config = {
        "type": "hbar",
        "title": {
            "text": "Satisfaction Measure Bar Chart"
        },
        shapes: [{
            "type": "circle",
            "background-color": "#5297b6",
            "size": 20,
            "x": 35,
            "y": 25,
            "tooltip": {
                "text": "<b>Project Satisfaction Measures:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.<br>The green bars correspond to selected projects, the red bars correspond to rejected projects.",
                "background-color": "white",
                "font-color": "gray",
                "font-family": "Georgia",
                "border-color": "gray",
                "border-width": 1,
                "line-style": "dotted",
                "padding": "15%",
            },
            label: {
                text: 'i',
                fontSize: 28,
                fontWeight: 'bold',
                fontColor: '#fff'
            }
        }],
        "scrollX": {
            "bar": {
                "backgroundColor": '#2596be',
                "alpha": 0.5,
            },
            "handle": {
                "backgroundColor": '#2596be',
            },
        },
        "plotarea": {
            "margin-left":"130px",
            "margin-right":"130px"
        },
        "scale-x": {
            "labels": [{% for project_id in project_votes.keys() %}"{{ projects[project_id]['name'][:15]|replace('\"', '\\\"') }}",{% endfor %}],
            "title": {
                "text": "Project"
            },
            "item": {
                "font-size": 14,
                "offset-x": 0,
                "offset-y": 0
            },
            "zooming": true,
            "zoomTo": [0, 15]
        },
        "scale-y": {
            "title": {
                "text": "Number of Votes"
            }
        },
        "series": [{
            "values": {{ project_votes.values() | list }},
            'hover-state': { 
                'background-color': "orange",
            }
        }, ],
        "plot": {
            "styles": colorsList,
            "tooltip": {
                "text": "Project %scale-key-label has %v votes"
            },
            "animation": {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": "ANIMATION_BY_PLOT_AND_NODE",
                "speed": 0
            }
        }
    }



    zingchart.render({
    id: 'RGBarChart',
    data: config,
    height: '100%',
    width: '100%'
});
</script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>tippy('[data-tippy-content]', { allowHTML: true, maxWidth: 1000});</script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
</body>
</html>