<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ election_name}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        /* Custom CSS to color the borders black */
        .budget-container {
            position: relative;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .budget{
            color: black
        }
        .bar {
            position: relative;
            height: 30px;
            margin: 10px 0;
            background-color: #ddd;
            position: relative;
            align-items: center;
            justify-content: center;
            color: black;
        }
        .bar-inner {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            position: absolute;
            left: 0;
            top: 0;
        }
        .dashed-line {
            position: absolute;
            top: 0;
            height: 600%;
            border-left: 2px dashed black;
        }
        .green {
            background-color: #4CAF50;
            color: white;
            justify-content: center;
        }
        .red {
            background-color: #F44336;
            color: white;
            justify-content: center;
        }
        .rejected-mark {
            position: absolute;
            right: -50px;
            top: 0;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: black;
            background-color: white;
            border-radius: 15px; /* Circular */
        }
        .border-black {
            border: 1px solid black;
        }
        
        .nested {
            padding: 1rem;
        }
        
        .wrapper {
            padding: 0rem;
        }
        
        .spacer {
            padding: 1rem;
        }
        
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            font-size: 24px;
            /* Adjust the size as needed */
            color: black;
            /* Adjust the color as needed */
        }
        
        .carousel-inner {
            padding: 1rem;
            padding-left: 7rem;
            padding-right: 7rem;
        }
        
        .carousel-inner-pie {
            padding-top: 0.5rem;
            height: 400px;
        }
        
        .hidden-section {
            display: none;
        }
        
        .chord-wrapper {
            height: 100%;
        }
        
        #myChordChart {
            height: 100%;
            width: 100%;
        }
        
        #myBarChart1,
        #myStackedBarChart1 {
            height: 100%;
            width: 100%;
        }
        /* zing-grid[loading] {
            height: 800px;
            width: 100%;
        } */
        
        h1,
        p {
            text-align: center;
        }
        .spacer-2 {
            padding: 2rem;
        }
  .bar-container {
        position: relative;
        width: 100%;
    }
    .budget {
        color: black;
    }


    </style>
</head>
<body > 
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="./summary.html">Summary</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="./round_analysis.html">Round By Round <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Pabutools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">MES</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" data-dashlane-rid="586d21bb200ad9fc" data-form-type="">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" data-dashlane-rid="ebb02837c4029767" data-form-type="">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-dashlane-label="true" data-dashlane-rid="c66944f310795772" data-form-type="">Search</button>
            </form>
          </div>
        </nav>
      </header>

      <main role="main">
    
        <div class="container-fluid upper-page">
            <!-- General Explanations -->
            <div class="container">
                <div class="spacer-2"></div>
                <div class="spacer-2"></div>


                <div class="row mb-3">
                    <div class="col-12  justify-content-center">
                        <h1>
                            {{ election_name }}
                        </h1>
                        <div class="spacer-1"><hr></div>
                        <p>
                            This is the explanation for the outcome of the participatory budgeting election decided using the Greedy Utalitarian Welfare algorithm.<br>
                            Some of the key features of the election are: The election has a total budget of {{budget}} of which {{spent}} was spent. The election had a 
                            total of {{total_votes}} votes cast. Note that each vote can be for multiple projects, therefore, the total votes for all projects will be 
                            higher than {{total_votes}}<br>
                            This page shows and explains the outcome of the election. The first graph shows the number of votes for each project.
                            The bars show the budget at each stage of the election, and the projects which were selected or rejected in each round. Finally, the final bar chart shows an overview of the selected and rejected projects.
                        </p>
                        <p>
                            To view the list of the projects selected, click this: <button type="button" id="electionOutcome">View Election Outcome</button>
                            <div style="display: none;" id="outcomeList" class="row">
                                {% for round in rounds %}
                                    <p>Project: {{round.selected_project.name}} with cost: {{round.selected_project.cost}} and had {{round.selected_project.votes}} votes.</p>
                                {% endfor %}
                            </div>
                        </p>
                    </div>
                </div>
                <div class="spacer-1"></div>
            </div>
        </div>
        <!-- <center>
            <div id="spinner" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </center> -->
        <div class="container">
            <div class="spacer-1"></div>
            <hr>
            <div class="spacer-1"></div>
            

            <!-- Round specific visualisations -->
                <section id="1">

                    <!-- Effective Vote Count -->
                    <div class="row featurette">
                        <div class="col-1"></div>
                        <div class="col-10" style="min-height: 600px;">
                            <div id="SortableBarChart" style="height: 100%; width: 100%;">
                                <button class = "info-button" style = "position: absolute; z-index: 2000; right: 50px;" data-tippy-content= "<b>Project Vote Counts:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.">i</button>
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>

                    <!-- Just some space -->
                    <div class="spacer-1"></div>
                    <hr>
                    <div class="spacer-1"></div>

                    <div class="row">
                        <div class="col-1"></div>
<div class="col-10">
    <div class="row justify-content-center">
        <div class="col-auto">
            <button id="prevButton" class="btn btn-primary">Previous Round</button>
        </div>
        <div class="col-auto">
            <button id="nextButton" class="btn btn-primary">Next Round</button>
        </div>
    </div>
</div>
<div class="col-1"></div>


                    </div>

                    {% for round in rounds %}
                    <div class="container" id="{{round.id}}Bars" style="display: none;">

                        <!-- Budget Breakdown -->
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="budget-container">
                                        <!-- Remaining Budget Bar -->
                                        <div class="bar-container">
                                            {% if (round.remaining_budget / round.max_cost) * 90 > 30 %}
                                                <div class="bar budget" style="width: {{ (round.remaining_budget / round.max_cost) * 90 }}%;">
                                                    <div class="bar-inner">&nbsp; Remaining Budget: £{{ round.remaining_budget }}</div>
                                                </div>
                                            {% else %}
                                            <div>
                                                <div class="bar budget" style="width: {{ (round.remaining_budget / round.max_cost) * 100 }}%; display: inline-flex; align-items: center;">
                                                </div>
                                                <div style="margin-left: 10px; display: inline-flex;"><p style="position:absolute; top: 12px;">&nbsp; Remaining Budget: £{{ round.remaining_budget }}</p></div>

                                            </div>
                                            {% endif %}
                                        </div>

                                        <!-- Project Bars -->
                                        {% for proj in round.rejected_projects %}
                                        <div class="bar-container">
                                            {% if (proj.cost / round.max_cost) * 90 > 30 %}
                                                <div class="bar red" style="width: {{ (proj.cost / round.max_cost) * 90 }}%;">
                                                    <div class="bar-inner">&nbsp; {{proj.name}} - £{{ proj.cost }}</div>
                                                    <div class="rejected-mark">✘</div>
                                                </div>
                                            {% else %}
                                                <div>
                                                    <div class="bar red" style="width: {{ (proj.cost / round.max_cost) * 90 }}%; display: inline-flex; align-items: center;">
                                                    </div>
                                                    <div class="rejected-mark">✘</div>
                                                    <div style="margin-left: 10px; display: inline-flex;"><p style="position:absolute; top: 12px;">{{round.selected_project.name}} - £{{ round.selected_project.cost }}</p></div>

                                                </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}

                                        <!-- Selected Project Bar -->
                                        <div class="bar-container">
                                            {% if (round.selected_project.cost / round.max_cost) * 90  > 30 %}
                                            <div class="bar green" style="width: {{ (round.selected_project.cost / round.max_cost) * 90 }}%;">
                                                <div class="bar-inner">&nbsp; {{round.selected_project.name}} - £{{ round.selected_project.cost }}</div>
                                            </div>
                                            {% else %}
                                            <div>
                                                <div class="bar green" style="width: {{ (round.selected_project.cost / round.max_cost) * 90 }}%; display: inline-flex; align-items: center;">
                                                </div>
                                                <div style="margin-left: 10px; display: inline-flex;"><p style="position:absolute; top: 12px;">{{round.selected_project.name}} - £{{ round.selected_project.cost }}</p></div>

                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {% if round.rejected_projects %}
                                        <p>
                                            The chart above shows the current budget of {{round.remaining_budget}}. Projects {% for proj in round.rejected_projects %} {{ proj.name }}, {% endfor %} were rejected in this round, even though they had more votes than the selected project.  
                                        </p>
                                    {% else %}
                                        <p>
                                            The chart above shows the current budget of {{round.remaining_budget}}, and the selected project {{round.selected_project.name}} with cost {{round.selected_project.cost}}. The selected project was chosen because it had the most votes and was within budget.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="spacer-1"></div>
                    <hr>
                    <div class="spacer-1"></div>

                    <!-- Green and Red Painted Chart -->
                    <div class="row featurette">
                        <div class="col-1"></div>
                        <div class="col-10" style="min-height: 600px;">
                            <div id="RGBarChart" style="height: 100%; width: 100%;">
                                <button class = "info-button" style = "position: absolute; z-index: 2000; right: 50px;" data-tippy-content= "<b>Project Vote Counts:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.<br>The green bars correspond to selected projects, the red bars correspond to rejected projects.">i</button>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </section>
            
            <div class="spacer-8"></div>
        </div>

        <div class="spacer-1"></div>
        <hr>
        <div class="spacer-1"></div>

        <!-- FOOTER -->
        <footer class="container">
            <p>© Pabutools. · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/4.0/examples/carousel/#">Terms</a></p>
        </footer>

    </main>
    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        // Set the display of the first round to block
        document.getElementById("1Bars").style.display = "block";

        let currentRoundIndex = 1; // Starting with the first round
        const roundsIds = document.querySelectorAll('.container').length; // Get the total number of rounds based on containers

        // Function to toggle display of rounds
        function displayRound(index) {
            // Show the current round
            const currentRoundId = index + 'Bars'; // Construct ID string based on the current index
            const currentRound = document.getElementById(currentRoundId);
            if (currentRound) currentRound.style.display = 'block';
        }
        function hideRound(index) {
            // Hide the current round
            const currentRoundId = index + 'Bars'; // Construct ID string based on the current index
            const currentRound = document.getElementById(currentRoundId);
            if (currentRound) currentRound.style.display = 'none';
        }

        // Initial display setup
        displayRound(currentRoundIndex);

        // Event listeners for navigation buttons
        document.getElementById('prevButton').addEventListener('click', function() {

            if (currentRoundIndex > 0) {
                hideRound(currentRoundIndex);
                currentRoundIndex--; // Decrement index to show previous round
                displayRound(currentRoundIndex);
            }
        });

        document.getElementById('nextButton').addEventListener('click', function() {
            if (currentRoundIndex < roundsIds - 1) {
                hideRound(currentRoundIndex);
                currentRoundIndex++; // Increment index to show next round
                displayRound(currentRoundIndex);
            }
        });

        document.getElementById('electionOutcome').addEventListener('click', function() {
            const ul = document.getElementById('outcomeList');
            if (ul.style.display === 'none') {
                ul.style.display = 'block';
            } else {
                ul.style.display = 'none';
            }
        });
        
    </script>

    <script>
       zingchart.render({
          id: 'SortableBarChart',
          data: {
          "type": "hbar",
          "title": {
             "text": "Vote Count Bar Chart"
          },
          shapes: [
            {
                "type": "circle",
                "background-color": "#5297b6",
                "size": 20,
                "x": 35,
                "y": 25,
                "tooltip": {
                    "text": "This bar chart shows the number of votes for each project.",
                    "background-color": "white",
                    "font-color": "gray",
                    "font-family": "Georgia",
                    "background-color": "white",
                    "border-color": "gray",
                    "border-width": 1,
                    "line-style": "dotted",
                    "padding": "15%",
                },
                label: {
                    text: 'i', // Text inside the shape
                    fontSize: 28,
                    fontWeight: 'bold',
                    fontColor: '#fff'
                }
              }
        ],
        "scrollX": {
                        "bar": {
                        "backgroundColor": '#2596be',
                        "alpha": 0.5,
                        },
                        "handle": {
                        "backgroundColor": '#2596be',
                        },
                    },
          "scale-x": {
            
             "labels": {{ project_votes.keys() | list }}, // Label that identifies each project in the round
             "title": {
                "text": "Project"
             },
             "item": { // Explicitly control the appearance of the scale labels
                "font-size": 14, // Adjust font size as needed
                "offset-x": 0, // Adjust to move the label left or right if needed
                "offset-y": 0 // Adjust to move the label up or down if needed
             },"zooming": true,
                    "zoomTo": [0, 15]
          },
          "scale-y": {
             "title": {
                "text": "Number of Votes"
             }
          },
          "series": [{
             "values": {{ project_votes.values() | list }}, // Current votes values
             'hover-state': { /* Hover object */
                'background-color': "orange",
            }
          }, ],
          "plot": {
            "tooltip": {
                "text": "Project %scale-key-label has %v votes"
            },
             "animation": {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": "ANIMATION_BY_PLOT_AND_NODE",
                "speed": 0
             }
          }
    },
          height: '100%',
          width: '100%'
    });
</script>
<script>
    projects_selected_or_rejected = JSON.parse('{{projects_selected_or_rejected | safe}}')
    var projectNames = {{ project_votes.keys() | list }};
    console.log(projectNames);
    var projectValues = {{ project_votes.values() | list }};
    var seriesData = [];
    var pNames = projectNames;

    for (var i = 0; i < projectNames.length; i++) {
        var projectName = projectNames[i];
        var projectValue = projectValues[i];
        var selectedOrRejected = projects_selected_or_rejected[projectName];
        
        // Assign color based on the project's selection status
        var color = selectedOrRejected ? 'green' : 'red';
        
        seriesData.push({
            "values": [projectValue],
            "background-color": color,
            'hover-state': {
                'background-color': "orange",
            },
            "text": projectName
        });
    }

    // Sort seriesData by the number of votes in descending order
    seriesData.sort((a, b) => b.values[0] - a.values[0]);

    var config = {
        "type": "hbar",
        "title": {
            "text": "Vote Count Bar Chart"
        },
        shapes: [{
            "type": "circle",
            "background-color": "#5297b6",
            "size": 20,
            "x": 35,
            "y": 25,
            "tooltip": {
                "text": "<b>Project Vote Counts:</b><br> The following graphs shows the votes for each of the projects along with the corresponding budget.<br>The green bars correspond to selected projects, the red bars correspond to rejected projects.",
                "background-color": "white",
                "font-color": "gray",
                "font-family": "Georgia",
                "border-color": "gray",
                "border-width": 1,
                "line-style": "dotted",
                "padding": "15%",
            },
            label: {
                text: 'i', // Text inside the shape
                fontSize: 28,
                fontWeight: 'bold',
                fontColor: '#fff'
            }
        }],
        "scrollX": {
            "bar": {
                "backgroundColor": '#2596be',
                "alpha": 0.5,
            },
            "handle": {
                "backgroundColor": '#2596be',
            },
        },
        "scale-x": {
            "labels": {{ project_votes.keys() | list }},
            "title": {
                "text": "Project"
            },
            "item": {
                "font-size": 14,
                "offset-x": 0,
                "offset-y": 0
            },
            "zooming": true,
            "zoomTo": [0, 15]
        },
        "scale-y": {
            "title": {
                "text": "Number of Votes"
            }
        },
        "series": seriesData,
        "plot": {
            "tooltip": {
                "text": "Project %scale-key-label has %v votes"
            },
            "animation": {
                "effect": "ANIMATION_SLIDE_BOTTOM",
                "sequence": "ANIMATION_BY_PLOT_AND_NODE",
                "speed": 0
            }
        }
    }



    zingchart.render({
    id: 'RGBarChart',
    data: config,
    height: '100%',
    width: '100%'
});
</script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>tippy('[data-tippy-content]', { allowHTML: true, maxWidth: 1000});</script>
    <script type="text/javascript" src="https://unpkg.com/default-passive-events"></script>
</body>
</html>